.container {
  font-family: "League Spartan", sans-serif;
}
.start {
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.35);
  max-width: 1000px;
  padding: 25px;
  margin: 0;
  display: flex;
  gap: 10px;
  border-radius: 5px;
}

.border-left-green {
  border-left: 6px solid #40a5a4;
}

.primary {
  display: flex;
  align-items: center;
  gap: 10px;
}

.general-info {
  display: flex;
  gap: 10px;
}

.enterprise-name {
  color: #40a5a4;
}

.chip {
  padding: 4px 6px;
  border-radius: 20px;
}

.status {
  color: white;
  background: #40a5a4;
}

.category {
  color: white;
  background: black;
}

.posicion-name {
  font-weight: bold;
}

.time {
  color: gray;
}

.agreement {
  color: gray;
}

.country {
  color: gray;
}

.secundary {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
}

.languages {
  display: flex;
  gap: 10px;
}

.role {
  color: #40a5a4;
  background: #eeeded;
}

.level {
  color: #40a5a4;
  background: #eeeded;
}

.web-page {
  color: #40a5a4;
  background: #eeeded;
}

.blade-style {
  color: #40a5a4;
  background: #eeeded;
}

.programming {
  color: #40a5a4;
  background: #eeeded;
}

.space {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.first {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.horizontal-separator {
  display: none;
}

@media (max-width: 728px) {
  .images {
    position: absolute;
    width: 88px;
    height: 88px;
    top: -44px;
    left: 20px;
  }

  .horizontal-separator {
    display: block;
    height: 1px;
    background-color: lightgray;
    width: 100%;
  }

  .start {
    margin-top: 50px;
    position: relative;
    padding-top: 50px;
  }
}
