.start {
  width: 1000px;
  padding: 25px;
  border: 2px solid black;
  margin: 0;
}

.primary  {
  display: flex;
  gap: 10px;
}

.general-info  {
  display: flex;
  gap: 10px;
}

.enterprise-name {
  color: #40A5A4;
}

.status {
  background: #40A5A4;
}

.category {
  color: white;
  background: black;
}

.posicion-name {
  font-weight: bold;
}

.time {
  color: gray;
}

.agreement {
  color: gray;
}

.country {
  color: gray;
}

.start-two {
  width: 1000px;
  padding: 25px;
  border: 2px solid black;
  margin: 0;
}

.primary-two{
  display: flex;
  gap: 10px;
}
.general-info-two {
  display: flex;
  gap: 10px;
}

.enterprise-two {
  color: #40A5A4;
}

.status-two {
  background: #40A5A4;
}

.category-two {
  background: black;
  color: white;
}

.posicion-name-two {
  font-weight: bold;
}

.time-two {
  color: gray;
}

.agreement-two {
  color: gray;
}

.country-two {
  color: gray;
}

.start-three {
  width: 1000px;
  padding: 25px;
  border: 2px solid black;
  margin: 0;
}

.primary-three{
  display: flex;
  gap: 10px;
}
.general-info-three {
  display: flex;
  gap: 10px;
}

.enterprise-three {
  color: #40A5A4;
}

.status-three {
  background: #40A5A4;
}

.posicion-name-three {
  font-weight: bold;
}

.time-three {
  color: gray;
}

.agreement-three {
  color: gray;
}

.country-three {
  color: gray;
}

.start-four {
  width: 1000px;
  padding: 25px;
  border: 2px solid black;
  margin: 0;
}
.general-info-four {
  display: flex;
  gap: 10px;
}

.posicion-name-four {
  font-weight: bold;
}

.plase {
  color: #40A5A4;
}

.time-four {
  color: gray;
}

.agreement-four {
  color: gray;
}

.country-four {
  color: gray;
}

.start-five {
  width: 1000px;
  padding: 25px;
  border: 2px solid black;
  margin: 0;
}

.general-info-five {
  display: flex;
  gap: 10px;
}

.enterprise-five {
  color: #40A5A4;
}

.posicion-name-five {
  font-weight: bold;
}

.time-five {
  color: gray;
}

.agreement-five {
  color: gray;
}

.country-five {
  color: gray;
}

.start-six {
  width: 1000px;
  padding: 25px;
  border: 2px solid black;
  margin: 0;
}

.general-info-six {
  display: flex;
  gap: 10px;
}

.enterprise-six {
  color: #40A5A4;
}

.posicion-name-six {
  font-weight: bold;
}

.time-six {
  color: gray;
}

.agreement-six {
  color: gray;
}

.country-six {
  color: gray;
}

.start-seven {
  width: 1000px;
  padding: 25px;
  border: 2px solid black;
  margin: 0;
}

.general-info-seven {
  display: flex;
  gap: 10px;
}

.enterprise-seven {
  color: #40A5A4;
}

.posicion-name-seven {
  font-weight: bold;
}

.time-seven {
  color: gray;
}

.agreement-seven {
  color: gray;
}

.country-seven {
  color: gray;
}

.start-eight {
  width: 1000px;
  padding: 25px;
  border: 2px solid black;
  margin: 0;
}

.general-info-eight {
  display: flex;
  gap: 10px;
}

.enterprise-eight {
  color: #40A5A4;
}

.posicion-name-eight {
  font-weight: bold;
}

.time-eight {
  color: gray;
}

.agreement-eight {
  color: gray;
}

.country-eight {
  color: gray;
}

.start-nine {
  width: 1000px;
  padding: 25px;
  border: 2px solid black;
  margin: 0;
}

.general-info-nine {
  display: flex;
  gap: 10px;
}

.enterprise-nine {
  color: #40A5A4;
}

.posicion-name-nine {
  font-weight: bold;
}

.time-nine {
  color: gray;
}

.agreement-nine {
  color: gray;
}

.country-nine {
  color: gray;
}

.start-ten {
  width: 1000px;
  padding: 25px;
  border: 2px solid black;
  margin: 0;
}

.general-info-ten {
  display: flex;
  gap: 10px;
}

.enterprise-ten {
  color: #40A5A4;
}

.posicion-name-ten {
  font-weight: bold;
}

.time-ten {
  color: gray;
}

.agreement-ten {
  color: gray;
}

.country-ten {
  color: gray;
}